@font-face {
  font-family: 'FSRAILWAY Book';
  src: url('../fonts/fsrailway/FSRAILWAY-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSRAILWAY Book Oblique';
  src: url('../fonts/fsrailway/FSRAILWAY-Book-Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('../fonts/caveat/Caveat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
