// colors
$white:             #ffffff;
$white-light:       #F9F9F9;

$green:             #5F9800;
$blue:              #2871FF;

$black:             #000000;



// animation
$transition-normal: .3s linear;
$transition-fast:   .15s linear;



// fonts
$font-railway:      'FSRAILWAY Book', sans-serif;



// screen resolutions
$desktop:           'max-width: 1280px';
$tablet:            'max-width: 992px';
$mobile:            'max-width: 767px';
