// colors
$white:                 #ffffff;
$white-light:           #F9F9F9;

$red:                   #E41E12;
$green:                 #5F9800;
$blue:                  #2871FF;
$blue-hover:            rgba(#1056EB, 0.75);

$black:                 #181818;



// animation
$transition:       .15s linear;



// fonts
$font-railway:          'FSRAILWAY Book', sans-serif;
$font-railway-italic:   'FSRAILWAY Book Oblique', sans-serif;
$font-caveat:           'Caveat', sans-serif;


// screen resolutions
$desktop:               'max-width: 1280px';
$tablet:                'max-width: 992px';
$mobile:                'max-width: 767px';
