doctype html
html lang="ru"
  head
    include head
    title NIIAS shop - Карториум
  body
    include logo
    include menu

    .parallax.is-dark.js-parallax data-item="kartorium"
      h1.parallax__item.js-parallax-item.tac data-item="kartorium-1"
        | Ориентируйтесь на всей
        br/
        | сети железных дорог
        br/
        | Российской Федерации.
      .parallax__item.js-parallax-item data-item="kartorium-2"
        img.parallax__itemImg src="static/images/kartorium-parallax-map-white.png"
      .parallax__item.js-parallax-item data-item="kartorium-4"
        | Вам доступны схемы железных дорог
        |  Российской Федерации, 16&nbsp;из&nbsp;которых
        |  являются филиалами ОАО&nbsp;«РЖД», одна&nbsp;—
        |  ФГУП «Крымская железная дорога»&nbsp;—
        |  находится в&nbsp;ведении Федерального
        |  агентства железнодорожного транспорта;
        |  кроме того, на&nbsp;врезке схемы
        |  Дальневосточной железной дороги
        |  дана линия дорог, принадлежащих
        |  АО&nbsp;«АК&nbsp;«Железные дороги Якутии».

    .content.bgLight
      .content__in
        h1.content__title.tac
          | Радуют все дороги.
        .content__cols.colsFlex.colsFlex--roads
          .colsFlex__col.colsFlex__col--2.pr20.pr0-sm
            p.content__text.fs24.pr10p.pr0-sm.tac-sm
              | Схемы железных дорог нашей страны с&nbsp;высокой степенью
              |  графической информации помогут вам определить расположение
              |  железнодорожных пунктов относительно других объектов местности,
              |  а&nbsp;подробная детализация тематической основы — установить
              |  их функциональное назначение.
          .colsFlex__col.colsFlex__col--2.colsFlex.colsFlex--right.pl20
            .colsFlex__col
              img.content__img.content__img--shadow src="static/images/lectorium-map.png"

    .content.mt60.mt40-md
      .content__in.bgLight.br40.plr40-lg.plr20-sm
        .content__cols.colsFlex
          .colsFlex__col.colsFlex__col--2.colsFlex__col--full-md
            h2.content__title.mb60.mb40-sm
              | Исследуйте детально.
            p.content__text
              | Деление на действующие и&nbsp;строящиеся железные дороги,
              |  внешние и&nbsp;неэксплуатируемые пути, узловые, конечные,
              |  пограничные станции, разъезды, обгонные пункты, остановочные
              |  пункты, блокпосты, путевые посты и&nbsp;их названия позволит
              |  вам получить полное представление об&nbsp;особенностях
              |  маршрута.
          .colsFlex__col.colsFlex__col--2.colsFlex__col--full-md.plr9p.plr0-sm.pt40.pt60-md.pt30-sm
            img.content__img src="static/images/gif/kartorium-explore.gif"

    .content.mtb60.mtb40-md
      .content__in.pa0
        .content__cols.colsFlex.colsFlex--stretch
          .colsFlex__col.colsFlex__col--2p.colsFlex__col--full-md.bgLight.pa40.pa20-sm.pb60-sm.br40.hiddenInfo.js-hidden-info
            h3.content__subtitle.mb30
              | Всегда найдется поблизости
            p.content__text.pr25p.pr0-sm
              | Более 6&nbsp;500 железнодорожных пунктов помогут вам
              |  сориентироваться, когда&nbsp;вы ищете место дислокации вагонов
              |  или&nbsp;контейнеров.
            p.content__text.tac
              img.content__img src="static/images/gif/kartorium-map.gif" data-width="50%"
            span.hiddenInfo__button.js-hidden-info-button
            .hiddenInfo__hidden.pa40.br40
              p.hiddenInfo__hiddenText
                | Более 6 500
                br
                | железнодорожных пунктов помогут вам сориентироваться, когда
                |  вы ищите место дислокации вагонов или контейнеров.

          .colsFlex__col.colsFlex__col--2p.colsFlex__col--full-md.bgLight.pa40.pa20-sm.br40
            h3.content__subtitle.textGradient.mb90.mb30-sm.fs32-lg.fs21-sm data-color="green"
              | Определяйте расстояния на&nbsp;железнодорожном транспорте.
            p.content__text.pr10p.fs24
              | Чтобы вам было легче планировать маршрут, в&nbsp;названиях
              |  железнодорожных пунктов указан километраж, позволяющий
              |  определить расстояние между ними.

    include footer
