doctype html
html lang="ru"
  head
    include head
    title NIIAS shop - Карториум - схемы
  body
    include logo-dark
    include menu

    .content.bgLight.mb200.mb100-md.mb60-sm
      .content__in
        .content__cols.colsFlex.colsFlex--reverseCol-sm
          .colsFlex__col.colsFlex__col--2.colsFlex.pr20.mb0-md.pa0-sm.mt40-sm
            .colsFlex__col.pr17p.pr5p-md.pa0-sm
              img.content__img.content__img--shadow src="../static/images/gif/kartorium-scheme.gif"
          .colsFlex__col.colsFlex__col--2.colsFlex--right
            p.content__subtitle.colorBlue
              | Железнее некуда
            p.content__text
              | На&nbsp;схемах показаны действующие железные дороги России
              |  и&nbsp;их границы с&nbsp;условными обозначениями нанесённых
              |  станций, разъездов, обгонных пунктов, остановочных пунктов,
              |  путевых постов и&nbsp;их названия с&nbsp;указанием километража,
              |  позволяющего определять расстояния между железнодорожными
              |  пунктами.

    .content.mb90.mb60-md
      .content__in.pa0
        h2.content__subtitle.colorViolet
          | Дизайн
        p.content__text.content__text--small.mb50
          | Обновлённый дизайн фокусирует ваше внимание на&nbsp;контенте
          |  и&nbsp;наиболее важных действиях при&nbsp;работе со&nbsp;схемами.
        .content__cols.colsFlex.colsFlex--stretch
          .colsFlex__col.colsFlex__col--3p.designInfo data-bg="kartorium-design-1"
            p.designInfo__title
              | Графика
            p.designInfo__text
              | Высокая степень графической информации поможет вам определить
              |  расположение железнодорожных пунктов относительно
              |  других объектов местности.
          .colsFlex__col.colsFlex__col--3p.designInfo
            p.designInfo__title.animationTyping
              span.animationTyping__move data-move="1" Т
              span.animationTyping__move data-move="2" и
              span.animationTyping__move data-move="3" п
              span.animationTyping__move data-move="4" о
              span.animationTyping__move data-move="5" г
              span.animationTyping__move data-move="6" р
              span.animationTyping__typing data-letter="1" а
              span.animationTyping__typing data-letter="2" ф
              span.animationTyping__typing data-letter="3" и
              span.animationTyping__typing data-letter="4" к
              span.animationTyping__typing data-letter="5" а
            p.designInfo__text
              | Мы улучшили читабельность текстовой информации,
              |  чтобы&nbsp;отточенность рисунка каждого знака помогала
              |  вам ускорить и&nbsp;упростить его восприятие.
          .colsFlex__col.colsFlex__col--3p.designInfo data-bg="gradient"
            p.designInfo__title
              | Цвет
            p.designInfo__text
              | Лаконичные, сдержанные и&nbsp;невероятно естественные цвета
              |  картографической основы направлены на&nbsp;то, чтобы&nbsp;ваша
              |  работа со&nbsp;схемами стала ещё удобнее и&nbsp;продуктивнее.

    .content.mt60
      .content__in.pa0.ptb70.pa0-sm
        .content__cols.colsFlex.colsFlex--stretch.tac
          .colsFlex__col.colsFlex__col--2p
            h3.content__subtitle.colorGreen
              | Выбирайте и&nbsp;покупайте.
            p.content__text.plr40.pa0-sm
              | Вы можете заказать схемы как на&nbsp;бумажном носителе,
              |  холсте, так&nbsp;и&nbsp;на&nbsp;самоклеящейся плёнке.
              |  По&nbsp;вашему желанию схемы ламинируются матовой
              |  или&nbsp;глянцевой плёнкой, а&nbsp;также могут быть
              |  оформлены в&nbsp;багет.
          .colsFlex__col.colsFlex__col--2p
            h3.content__subtitle.colorGreen
              | Сделайте их особенными.
            p.content__text.plr40.pa0-sm
              | По вашему желанию схемы могут быть дополнены нанесением
              |  любой другой необходимой информации, например,
              |  местоположением промышленных предприятий, заводов, портов
              |  или&nbsp;персонализацией.

    .content.mt60
      .content__in.pa0.pa0-sm
        .content__consultation.consultation
          .consultation__cols
            .consultation__col.consultation__col--info.pb0
              h4.consultation__title.colorGreen
                | Индивидуальные консультации со&nbsp;специалистом
                |  при&nbsp;покупке.
              .consultation__personWrapper
                img.consultation__person src="../static/images/persons/kartorium-person.png"
            .consultation__col.consultation__col--info.tac
              h4.consultation__subtitle
                | Как бы вы хотели получить помощь?
              ul.consultation__contacts.contactsList
                li.contactsList__item
                  .contactsList__imgWrapper
                    img.contactsList__img src="../static/images/icons/svg/mail.svg"
                  p.contactsList__itemTitle
                    | Напишите нам на&nbsp;почту.
                  p.contactsList__itemText
                    | Напишите нам на&nbsp;почту <a class="contactsList__itemLink" href="mailto:mta@vniias.ru">mta@vniias.ru</a>
                li.contactsList__item
                  .contactsList__imgWrapper
                    img.contactsList__img src="../static/images/icons/svg/phone.svg"
                  p.contactsList__itemTitle
                    | Позвоните нам.
                  p.contactsList__itemText
                    | Позвоните нам с&nbsp;9:00&nbsp;до&nbsp;18:00 (МСК)
                    |  c&nbsp;понедельника по&nbsp;пятницу по&nbsp;телефону
                    br
                    a.contactsList__itemLink href="tel:+74992628883"
                      | +7(499)-262-88-83

    .content.mtb60.mtb40-sm
      .content__in.bgLight.br40.tac.plr40-lg.plr20-sm
        h4.content__subtitle.mb50.mb30-sm.fs24-sm
          | Получите помощь с&nbsp;выбором подходящей схемы
        p.content__text.fs24
          | Наш специалист поможет вам выбрать и купить нужную схему
        p.content__text.mt60
          a.content__link.linkDetail.fs24 href=""
            | Пообщайтесь со&nbsp;специалистом
            include icons/arrow-more

    include footer
