body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 20px/1.2 $font-railway;
  color: $black;
  background-color: $white;
}

a,
button,
.icon {
  transition: color $transition,
              border-color $transition,
              background-color $transition,
              box-shadow $transition;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
