// text color
.colorWhite {
  color: $white;
}
.colorRed {
  color: $red;
}
.colorGreen {
  color: $green;
}
.colorBlue {
  color: #0E90DB;
}
.colorBlueDark {
  color: #004265;
}
.colorViolet {
  color: #622AFF;
}

// text-align
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}

// font-size
.fs24 {
  font-size: 24px;
}

// bg colors
.bgLight {
  background-color: $white-light;
}
.bgDark {
  background-color: #1D1D1F;
}
.bgBlack {
  background-color: #151516;
}

// gradients
.lg {
  &[data-gradient="green-yellow"] {
    background: linear-gradient(90deg, #ABECD6 0%, #FBED96 100%);
  }
}

// border-radius
.br40 {
  border-radius: 40px;
}

// margins
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb200 {
  margin-bottom: 200px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt60 {
  margin-top: 60px;
}
.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mtb150 {
  margin-top: 150px;
  margin-bottom: 150px;
}

// paddings
.pa0 {
  padding: 0;
}
.pa40 {
  padding: 40px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pr10p {
  padding-right: 10%;
}
.pr15p {
  padding-right: 15%;
}
.pr17p {
  padding-right: 17%;
}
.pr25p {
  padding-right: 25%;
}
.plr40 {
  padding-left: 40px;
  padding-right: 40px;
}
.plr-9p {
  padding-left: 9%;
  padding-right: 9%;
}
.plr10p {
  padding-left: 10%;
  padding-right: 10%;
}
.pt40 {
  padding-top: 40px;
}
.pt170 {
  padding-top: 170px;
}
.pb0 {
  padding-bottom: 0;
}
.pb70 {
  padding-bottom: 70px;
}
.pb120 {
  padding-bottom: 120px;
}
.ptb70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

// position
.positionR {
  position: relative;
}
