// text color
.colorWhite {
  color: $white;
}
.colorRed {
  color: $red;
}

// text-align
.tac {
  text-align: center;
}

// font-size
.fs24 {
  font-size: 24px;
}

// bg colors
.bgLight {
  background-color: $white-light;
}
.bgDark {
  background-color: #1D1D1F;
}
.bgBlack {
  background-color: #151516;
}

// gradients
.lg {
  &[data-gradient="green-yellow"] {
    background: linear-gradient(90deg, #ABECD6 0%, #FBED96 100%);
  }
}

// border-radius
.br40 {
  border-radius: 40px;
}

// margins
.mb30 {
  margin-bottom: 30px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb90 {
  margin-bottom: 90px;
}
.mt60 {
  margin-top: 60px;
}
.mtb150 {
  margin-top: 150px;
  margin-bottom: 150px;
}

// paddings
.pa0 {
  padding: 0;
}
.pa40 {
  padding: 40px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pr10p {
  padding-right: 10%;
}
.plr10p {
  padding-left: 10%;
  padding-right: 10%;
}
.pt170 {
  padding-top: 170px;
}

// position
.positionR {
  position: relative;
}
