.accessories {
  &__item {
    position: relative;
    padding-bottom: 300px;
  }

  &__itemTitle {
    margin-bottom: 14px;
    font-size: 48px;
  }

  &__itemDescription {
    font-size: 20px;
  }

  &__itemAdv {
    margin-top: 100px;
    max-width: 380px;
  }

  &__itemAdvItem {
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 1440px) {
  .accessories {
    &__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

@media ($tablet) {
  .accessories {
    &__item {
      padding-bottom: 0;

      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    &__itemAdv {
      margin-top: 40px;
      max-width: 480px;
    }
  }
}

@media ($mobile) {
  .accessories {
    &__itemTitle {
      font-size: 30px;
    }

    &__itemAdvItem {
      font-size: 18px;
    }
  }
}
