.accessoriesImg {
  position: absolute;
  right: 0;

  &[data-img="1"] {
    top: 50px;
    left: 330px;
  }
  &[data-img="2"] {
    top: 120px;
    left: 330px;
  }

  &__img {
    max-width: 580px;
    width: 100%;
  }

  &__text {
    position: absolute;
    right: -5%;
    padding-left: 15px;
    font: 36px/120% $font-caveat;

    &:before {
      content: '';
      position: absolute;
      top: 22px;
      right: 100%;
      display: inline-block;
      height: 1px;
      background-color: $black;
    }

    &[data-text="1"] {
      top: 28%;

      &:before {
        width: 72px;
      }
    }
    &[data-text="2"] {
      top: 69%;

      &:before {
        width: 293px;
      }
    }
    &[data-text="3"] {
      top: 90%;

      &:before {
        width: 160px;
      }
    }
    &[data-text="4"] {
      top: 76%;
      right: 3%;
      text-align: center;

      &:before {
        width: 162px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .accessoriesImg {
    &__text {
      left: 10%;
      right: auto;
      width: 80%;

      &[data-text="1"] {
        top: 100%;

        &:before {
          width: 40px;
        }
      }
      &[data-text="2"] {
        top: 110%;

        &:before {
          width: 40px;
        }
      }
      &[data-text="3"] {
        top: 120%;

        &:before {
          width: 40px;
        }
      }
      &[data-text="4"] {
        top: 100%;
        right: auto;
        text-align: left;

        &:before {
          width: 40px;
        }

        br {
          display: none;
        }
      }
    }
  }
}

@media ($tablet) {
  .accessoriesImg {
    position: static;
    margin-top: 40px;

    &__img {
      display: block;
      margin: 0 auto 20px;
    }

    &__text {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      margin-left: 100px;
    }
  }
}

@media ($mobile) {
  .accessoriesImg {
    &__text {
      margin-left: 30px;
      width: auto;
      font-size: 27px;

      &:before {
        top: 15px;
      }

      &[data-text="1"],
      &[data-text="2"],
      &[data-text="3"],
      &[data-text="4"] {
        &:before {
          width: 20px;
        }
      }
    }
  }
}
