.content {
  padding: 0 40px;

  &__in {
    margin: 0 auto;
    padding: 120px 80px 133px;
    max-width: 1360px;
    min-width: 320px;

    &--small {
      padding-left: 6.6%;
      padding-right: 6.6%;
    }
    &--main {
      padding-top: 114px;
      padding-bottom: 162px;
    }

    &--lectorium {
      .content__title {
        margin: 0 auto 53px;
        max-width: 600px;
        font-size: 90px;
        line-height: 93%;
      }

      .content__text {
        margin: 0 auto;
        max-width: 540px;
        color: #858D92;
      }
    }
  }

  &__title {
    margin-bottom: 92px;
    font-size: 58px;
  }

  &__subtitle {
    margin-bottom: 19px;
    font-size: 48px;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--med {
      max-width: 930px;
    }
    &--small {
      max-width: 620px;
    }
  }

  &__img {
    width: 100%;

    &--shadow {
      border-radius: 55px;
      box-shadow: -13px 13px 9px rgba(0, 0, 0, 0.09);
    }
    &--bg {
      position: absolute;
      bottom: 0;
      right: 80px;
      width: 30%;
    }
    &[data-width="50%"] {
      width: 50%;
    }
  }
}
