.content {
  &__in {
    margin: 0 auto;
    padding: 20px 20px 0;
    max-width: 1280px;
    min-width: 320px;
    background: $white;
    padding: 60px 40px 40px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--small {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  &__title {

  }

  &__subtitle {

  }
}
