.content {
  &__in {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    min-width: 320px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--text {
      padding-top: 114px;
      padding-bottom: 162px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 58px;
  }

  &__subtitle {
    margin-bottom: 19px;
    font-size: 48px;
  }

  &__text {
    font-size: 20px;

    &--med {
      max-width: 930px;
    }
  }
}
