.listAdv {
  position: relative;
  display: flex;
  align-items: stretch;
  max-width: 1360px;
  margin: 0 auto;
  min-height: 500px;
  background-color: $white-light;
  border-radius: 40px;

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &--rowR {
    flex-direction: row-reverse;

    .listAdv__col--img {
      border-radius: 0 40px 40px 0;
    }
  }

  &__col {
    &--img {
      flex-basis: 40%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 40px 0 0 40px;

      &[data-bg="lectorium-advantages-1"] {
        background-image: url('../images/lectorium-advantages-1.png');
      }
      &[data-bg="lectorium-advantages-2"] {
        background-image: url('../images/lectorium-advantages-2.png');
      }
      &[data-bg="lectorium-advantages-3"] {
        background-image: url('../images/lectorium-advantages-3.png');
      }
    }
    &--text {
      position: relative;
      z-index: 1;
      flex-basis: 60%;
      align-self: center;
      padding: 40px;
      text-align: center;

      &.tal {
        text-align: left;
      }
    }
    &--al-center {
      align-self: center;
    }
  }

  &__title {
    @extend .content__subtitle;
  }

  &__rotator {
    padding-left: 30px;
  }
}

@media ($desktop) {
  .listAdv {
    min-height: 400px;

    &__rotator {
      padding-left: 0;
    }
  }
}

@media ($tablet) {
  .listAdv {
    &__col {
      &--text {
        padding: 30px;
      }
    }

    &__rotator {
      margin-left: -30px;
      width: 370px;
      transform: scale(0.8);
    }
  }
}

@media ($mobile) {
  .listAdv {
    position: relative;
    display: block;
    min-height: 0;
    padding: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--rowR {
      flex-direction: row-reverse;

      .listAdv__col--img {
        border-radius: 20px;
      }
    }

    &__col {
      &--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
      &--textBg {
        padding: 20px 15px;
        background-color: rgba($white, 0.9);
        border-radius: 20px;
      }
    }

    &__rotator {
      display: none;
    }
  }
}
