$logo-red: #E41E12;

.logo {
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 89px;
  display: inline-block;
  font: 32px/38px $font-railway;
  letter-spacing: -0.005em;

  &--dark {
    .logo__companyActivity {
      color: $black;
    }
  }

  &:hover {
    .logo__companyActivity {
      color: $logo-red;
    }
  }

  &__companyName {
    text-transform: uppercase;
    color: $logo-red;
  }

  &__companyActivity {
    color: $white;
    transition: color $transition;
  }
}

@media ($mobile) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
