.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 90px;
  overflow: hidden;
  transition: width $transition, background-color $transition;

  &:before,
  &:after {
    content: '';
    display: block;
    position: fixed;
    right: 90px;
    width: 2px;
    transition: right $transition, background-color $transition;
  }

  &:before {
    top: 0;
    bottom: 0;
    background-color: #EBEBEB;
  }
  &:after {
    top: 33px;
    height: 97px;
    background-color: #151516;
  }

  &.is-active {
    width: 260px;
    bottom: 0;
    background-color: $white;

    &:before,
    &:after {
      right: 260px;
    }
  }

  &--dark {
    &:before {
      background-color: #232325;
    }
    &:after {
      background-color: $white;
    }

    &.is-active {
      background-color: $black;
    }

    .menu__list {
      background-color: $black;
    }

    .menu__listItemLink {
      color: $white;

      .icon {
        stroke: $white;
      }
    }
  }

  &__close {
    position: absolute;
    top: 65px;
    right: 29px;
    z-index: 1;
  }

  &__in {
    padding: 124px 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition, visibility $transition;

    .is-active & {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    position: relative;
    padding: 0 28px;
    background-color: $white;
    transition: background-color $transition;

    & .menu__list {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100%;
      width: 100%;
      transition: left $transition, background-color $transition;
    }
  }

  &__listItem {
    &.is-active .menu__list {
      left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__listItemLink {
    position: relative;
    display: block;
    padding: 5px 0;
    font: 18px/22px $font-railway;
    text-transform: uppercase;
    color: #151516;
    cursor: pointer;
    transition: color $transition;

    .icon {
      position: absolute;
      top: 8px;
      left: 162px;
      stroke: #151516;
      transition: stroke $transition, left $transition;
    }

    &:hover {
      color: $blue;

      .icon {
        stroke: $blue;
        left: 169px;
      }
    }

    &--back {
      padding-left: 20px;

      .icon {
        left: 0px;
        transform: rotate(180deg);
      }

      &:hover {
        .icon {
          left: -7px;
        }
      }
    }
  }
}


@media (max-width: 1544px) {
  .menu {
    height: 85px;

    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
    }

    &.is-active {
      height: auto;

      &:before,
      &:after {
        @include show();
        transition: all $transition;
      }
    }

    &__close {
      top: 30px;
    }
  }
}
