.parallax {
  position: relative;
  overflow: hidden;
  @extend .content;

  &.is-dark {
    background-color: #151516;
  }

  &[data-item="main"] {
    min-height: 3000px;
  }

  &[data-item="kartorium"] {
    min-height: 3850px;
  }
  &[data-item="kartorium-scheme"] {
    min-height: 2700px;
  }
  &[data-item="kartorium-album"] {
    min-height: 3100px;
  }

  &__item {
    position: fixed;
    z-index: 10;

    // main page
    &[data-item="main-1"] {
      z-index: 1;
      top: 50%;
      left: 89px;
      margin-top: -90px;
      font-size: 72px;
    }
    &[data-item="main-2"] {
      width: 700px;
      right: 120px;
      bottom: 0;
    }
    &[data-item="main-3"] {
      width: 300px;
      top: 50%;
      left: 50%;
      margin: -150px 0 0 -150px;
    }
    &[data-item="main-4"] {
      left: 50%;
      margin-left: -315px;
      font: 36px/1.2 $font-railway;
      text-align: center;
    }

    // kartorium page
    &[data-item="kartorium-1"] {
      top: 50%;
      left: 50%;
      margin: -104px 0 0 -341px;
      font-size: 58px;
      text-align: center;
      color: $white;
    }
    &[data-item="kartorium-2"] {
      width: 900px;
      top: 50%;
      left: 50%;
      margin: -256px 0 0 -450px;
    }
    &[data-item="kartorium-3"] {

    }
    &[data-item="kartorium-4"] {
      width: 680px;
      top: 50%;
      left: 50%;
      margin: -72px 0 0 -340px;
      font-size: 20px;
      text-align: center;
      color: $white;
    }

    // kartorium-scheme page
    &[data-item="kartorium-scheme-1"] {
      top: 50%;
      left: 50%;
      margin: -50px 0 0 -207px;
      font-size: 58px;
      line-height: 48px;

      span {
        font-size: 36px;
      }
    }
    &[data-item="kartorium-scheme-2"] {
      width: 900px;
      top: 50%;
      left: 50%;
      margin: -200px 0 0 -450px;

      img {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
      }
    }

    // kartorium-album page
    &[data-item="kartorium-album-1"] {
      top: 50%;
      left: 50%;
      margin: -128px 0 0 -320px;
      font-size: 58px;
      line-height: 72px;

      span {
        display: inline-block;
        font-size: 36px;
      }
    }
    &[data-item="kartorium-album-2"] {
      width: 480px;
      top: 50%;
      left: 50%;
      margin: -207px 0 0 -240px;
    }
    &[data-item="kartorium-album-3"] {
      top: 50%;
      left: 50%;
      margin: -21px 0 0 -59px;
    }
  }

  &__itemImg {
    display: block;
    width: 100%;
  }
}
