.parallax {
  position: relative;
  overflow: hidden;
  @extend .content;

  &[data-item="main"] {
    min-height: 3000px;
  }

  &[data-item="kartorium-scheme"] {
    min-height: 2700px;
  }

  &__item {
    position: fixed;
    z-index: 10;

    // main page
    &[data-item="main-1"] {
      z-index: 1;
      top: 50%;
      left: 89px;
      margin-top: -90px;
      font-size: 72px;
    }
    &[data-item="main-2"] {
      width: 700px;
      right: 120px;
      bottom: 0;
    }
    &[data-item="main-3"] {
      width: 300px;
      top: 50%;
      left: 50%;
      margin: -150px 0 0 -150px;
    }
    &[data-item="main-4"] {
      left: 50%;
      margin-left: -315px;
      font: 36px/1.2 $font-railway;
      text-align: center;
    }

    // kartorium-scheme page
    &[data-item="kartorium-scheme-1"] {
      top: 50%;
      left: 50%;
      margin: -50px 0 0 -207px;
      font-size: 58px;
      line-height: 48px;

      span {
        font-size: 36px;
      }
    }
    &[data-item="kartorium-scheme-2"] {
      width: 900px;
      top: 50%;
      left: 50%;
      margin: -200px 0 0 -450px;

      img {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
      }
    }
  }

  &__itemImg {
    display: block;
    width: 100%;
  }
}
