.schemesInfo {
  position: relative;

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
  }

  &__about {
    position: absolute;
    top: 0;
    right: -20px;
    font: 48px/120% $font-railway;
  }
}

@media ($tablet) {
  .schemesInfo {
    padding-top: 120px;

    &__about {
      right: 50%;
      transform: translateX(50%);
      text-align: center;
    }
  }
}

@media ($mobile) {
  .schemesInfo {
    padding-top: 90px;

    &__about {
      width: 200px;
      font-size: 30px;
    }
  }
}
