.siteSections {
  display: flex;
  justify-content: space-between;
  text-align: center;

  &__col {
    flex-basis: 325px;
  }

  &__title {
    margin-bottom: 23px;
    font: 36px/43px $font-railway;
    color: $black;
  }

  &__text {
    margin-bottom: 56px;
    font-size: 18px;
  }

  &__link {
    margin-top: 30px;
  }

  &__imgWrapper {
    position: relative;
    display: block;
    height: 230px;
    line-height: 230px;
    background-color: $white;
    box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 32px;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .siteSections__imgHover {
        @include show();
      }
    }
  }

  &__imgHover {
    @include hide();
  }
}

@media ($desktop) {
  .siteSections {
    justify-content: center;

    &__col {
      flex-basis: 240px;
      margin: 0 20px;
    }

    &__imgWrapper {
      height: 170px;
      line-height: 170px;

      .icon {
        width: 200px;
      }
    }
  }
}

@media ($tablet) {
  .siteSections {
    flex-wrap: wrap;

    &__col {
      flex-basis: 100%;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__link {
      margin-top: 20px;
    }

    &__imgWrapper {
      margin: 0 auto;
      width: 400px;
      height: 280px;
      line-height: 280px;

      .icon {
        width: 340px;
      }
    }
  }
}

@media ($mobile) {
  .siteSections {
    &__title {
      font: 30px/36px $font-railway;
    }

    &__imgWrapper {
      width: 280px;
      height: 200px;
      line-height: 200px;

      .icon {
        width: 240px;
      }
    }
  }
}
